/* Discografía - Estilos adicionales */
section {
    padding: 60px 20px;
}

section h3 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
}

.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}



.card-body {
    background-color: #f8f8f8;
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.btn-dark {
    background-color: #f8a5c2;
    color: #000;
    transition: background-color 0.3s ease;
}

.btn-dark:hover {
    background-color: #f38f9b;
}


/* Establecer las imágenes del álbum al mismo tamaño */
.card-img-top {
    width: 100%;               /* Asegura que la imagen se ajuste al ancho del contenedor */
    height: 300px;             /* Establece una altura fija para que todas las imágenes tengan la misma altura */
    object-fit: cover;         /* Asegura que la imagen se recorte de manera adecuada sin deformarse */
    object-position: center;   /* Centra la imagen dentro del contenedor */
}

